!!!html
html
  head
    title Downloads &middot; ThatOtherTechGuy

    link(rel='stylesheet', type='text/css', href='style.css')
  body
    #page-wrap
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')