!!!html
html
  head
    title Downloads &middot; ThatOtherTechGuy

    link(rel='stylesheet', type='text/css', href='style.css')
  body
    #page-wrap
      .container
        .row
          .span3
            .item
              img(src='http://placehold.it/200x200')
              .caption
                h4
                  a(href='#') Lorem ipsum
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum orci lobortis enim dignissim placerat.
          .span3
            .item
              img(src='http://placehold.it/200x200')
              .caption
                h4
                  a(href='#') Lorem ipsum
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum orci lobortis enim dignissim placerat.
          .span3
            .item
              img(src='http://placehold.it/200x200')
              .caption
                h4
                  a(href='#') Lorem ipsum
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum orci lobortis enim dignissim placerat.
          .span3
            .item
              img(src='http://placehold.it/200x200')
              .caption
                h4
                  a(href='#') Lorem ipsum
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum orci lobortis enim dignissim placerat.
        .row
          .span3
            .item
          .span3
            .item
          .span3
            .item
          .span3
            .item
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(type='text/javascript')
      $('.item').hover(function() {
        $('.caption', this).slideToggle();
      });